<?xml version="1.0"?>
<robot xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
       xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
       xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
       xmlns:xacro="http://ros.org/wiki/xacro">
	   
<xacro:macro name="aros_base_v0" params="name">
    <link name="${name}_link">
	 <visual>
        <!-- <origin xyz="0 0 0" rpy="0 0 0" /> -->
        <geometry>
          <mesh filename="package://aros_description/meshes/base/body.dae" />
        </geometry>
      </visual>

      <collision>
        <!-- <origin xyz="0 0 0" rpy="0 0 0" /> -->
        <geometry>
          <mesh filename="package://aros_description/meshes/base/link.dae" />
        </geometry>
      </collision>
    </link>	
</xacro:macro>
	
</robot>